<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.idk.droid_wheel" >
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="Droid Wheel"
        android:theme="@style/AppTheme"
        android:testOnly="false">
    <activity
        android:name="org.idk.droid_wheel.MainActivity"
        android:label="DroidWheel">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity
            android:name="org.idk.droid_wheel.postStart"
            android:screenOrientation="portrait"
            android:label="DroidWheel">

        </activity>
</application>

</manifest>
